@media (max-width:799px) {
    .section-p1{
        padding: 40px 40px;
    }

    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0,0.1);
        padding: 80px 0 0 10px;
        transition:0.3s;
    }

    #navbar.active{
        right: 0;
    }

    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        
    }

    #close{
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
        display: initial;
    }

    #lg-bag{
        display: none;
    }

    #hero {
        
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
        
    }

    #feature {
       justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #product1{
        justify-content: right;
    }



    /*Single Product*/


    #prodetails{
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 50px;
    }
    #prodetails .single-pro-details h2{
        font-size: xx-large;
    }  
    #prodetails .single-pro-details {
      width: 100%;
    }  
}